.container{
    text-align: justify;
}

.navbar {
    border-radius: 0 !important;
}

.pointer {
    cursor: pointer;
}

#poem{
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
}

#poem p{
    margin: 0;
}

[contenteditable="true"]:active,
[contenteditable="true"]:focus{
    border:none;
    outline:none;
}

@media (min-width: 768px) {
  .container{
        margin-left: 0;
        margin-right: 0;
        padding: 46px;
    }
}

.colourAnimation {
    -webkit-animation: colour 2s infinite; /* Chrome, Safari, Opera */
    animation: colour 2s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes colour {
    from {
    	color: black;
    }
    to {
    	color: red;
    }
}

@keyframes colour {
    from {
    	color: black;
    }
    to {
    	color: red;
    }
}